#bookArea {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
}

body {
    background-color: darkslategray;
}

table,td,th {
    border: 1px solid black;
}

#bookTable {
    width: 100%;
}

input {
    margin-bottom: 10px;
}

#menu li {
    display: inline-block;
    margin: 20px;
}